<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target type="File" name="allfile" fileName="c:\Users\ddiakonov\RiderProjects\Post\logs\logs-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|
                ${message} ${exception:format=tostring}" />

        <target type="File" name="ownFile-web" fileName="c:\Users\ddiakonov\RiderProjects\Post\logs\logs-own-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|
                ${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|
                ${callsite}| body: ${aspnet-request-posted-body}" />

        <target type="Console" name="lifetimeConsole" layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      
        ${message}${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    </rules>
</nlog>
